<div class="issue_show">
  <div class='issue_show_img'>
    <% if !@issue.image.nil? %>
    <img src="<%= @issue.image['medium_url'] %>">
    <% end %>
  <h2><%= @issue.cover_date %></h2>
  </div>
</div>
