<div id="issue_list_container">
   <ul>
      <% @issues.each do |issue| %>
      <a href="/volumes/<%= @volume_id %>/issues/<%= issue.id %>"><li class="issue_list"><%= "#{issue.name}" %></li></a>
      <% end %>
    </ul>
</div>

