<div class="issue_show">
  <div class='issue_show_img'>
    <% if !@issue.image.nil? %>
    <img src="<%= @issue.image['medium_url'] %>">
    <% end %>
  <h2><%= @issue.cover_date %></h2>
    <form action='/volumes/<%= @volume_id %>/issues/<%= @issue.id %>' method='POST'>
      <input type='submit' value='Add to my Lib'>
    </form>
  </div>
</div>
