<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="/js/app.js"></script>

  <title>ComicLib</title>
</head>
  <body>
    <div class="wrapper">
      <div class="header">

        <div id="top_right_nav">
          <strong><a href="/">ComicLib</a></strong>
          <% if logged_in? %>
           |
          <a href="/"><%= current_user.username %></a>
           |
          <a href="/logout">Logout</a>
          <% end %>
        </div>

      </div>
      <div id="center">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
